{% comment %}
  @summary Renders size guide for men

  @param {string} id - id

  @example
  {%- render 'c_size-guide-men' -%}
{% endcomment %}

<div>
  {% liquid
    capture options
      assign tables = 'pants,parka,jacket,shirt' | split: ','

      for table in tables
        assign option_id = table | append: '_' | append: id
        assign option_value = 'option_' | append: option_id
        assign option_text = 'size_guide.panel.men.table' | append: forloop.index | append: '_title'
        assign option_text = option_text | t | capitalize
        assign selected = forloop.first
        render 'el_selectbox-option', id: option_id, option_value: option_value, selected: selected, option_text: option_text
      endfor
    endcapture

    assign selected_option_text = 'size_guide.panel.men.table1_title' | t | capitalize

    render 'c_selectbox', id: 'size_guide_table_type',custom_classes: 'size-guide__selectbox-tables', custom_options: options, selected_option_id: 'option_dresses', selected_option_text: selected_option_text
  %}
</div>

<div class="size-guide__content size-guide__content--men">
  {%- assign image_src = 'men-size.png' | asset_url -%}
  {%- render 'c_size-guide-description',
          tab_name: 'men',
          image_src: image_src,
          circle_number: 0
  -%}
  <div class="size-guide__tables-list">
    <table class="size-guide__table size-guide__table--pants" data-size-guide-table data-size-guide-table-id="pants_{{ id }}" >
      <caption class="size-guide__table-caption">{{ 'size_guide.panel.men.table1_title' | t }}</caption>
      <thead class="size-guide__table-head">
      <tr>
        <th>{{ 'size_guide.panel.size' | t }}</th>
        <th>36</th>
        <th>38</th>
        <th>40</th>
        <th>42</th>
        <th>44</th>
        <th>46</th>
        <th>48</th>
        <th>50</th>
      </tr>
      </thead>
      <tbody class="size-guide__table-body">
      <tr>
        {%- liquid
          assign waist = 'size_guide.panel.waist' | t
          assign smallest_part = 'size_guide.panel.smallest_part' | t
          assign smallest_part = smallest_part | prepend: '<br><span class="size-guide__th-note">' | append: '</span>'
        -%}
        <th scope="row" class="size-guide__row-head size-guide__row-head--third" >{{ waist | append: smallest_part }}</th>
        <td>69/72</td>
        <td>73/76</td>
        <td>77/80</td>
        <td>81/84</td>
        <td>85/88</td>
        <td>89/92</td>
        <td>93/96</td>
        <td>97/100</td>
      </tr>
      <tr>
        {%- liquid
          assign hips = 'size_guide.panel.hips' | t
          assign widest_part = 'size_guide.panel.widest_part' | t
          assign widest_part = widest_part | prepend: '<br><span class="size-guide__th-note">' | append: '</span>'
        -%}
        <th scope="row" class="size-guide__row-head size-guide__row-head--fourth">{{ hips | append: widest_part }}</th>
        <td>84/88</td>
        <td>89/92</td>
        <td>93/96</td>
        <td>97/100</td>
        <td>101/104</td>
        <td>105/108</td>
        <td>109/112</td>
        <td>113/116</td>
      </tr>
      </tbody>
    </table>

    <table class="size-guide__table size-guide__table--parka" data-size-guide-table="hidden" data-size-guide-table-id="parka_{{ id }}">
      <caption class="size-guide__table-caption">{{ 'size_guide.panel.men.table2_title' | t }}</caption>
      <thead class="size-guide__table-head">
      <tr>
        <th>{{ 'size_guide.panel.size' | t }}</th>
        <th>S</th>
        <th>M</th>
        <th>L</th>
        <th>XL</th>
        <th>XXL</th>
      </tr>
      </thead>
      <tbody class="size-guide__table-body">
      <tr>
        <th scope="row" class="size-guide__row-head size-guide__row-head--second">{{ 'size_guide.panel.chest' | t }}</th>
        <th>93/96</th>
        <th>97/100</th>
        <th>101/104</th>
        <th>105/108</th>
        <th>109/112</th>
      </tr>
      </tbody>
    </table >

    <table class="size-guide__table size-guide__table--jacket" data-size-guide-table="hidden" data-size-guide-table-id="jacket_{{ id }}">
      <caption class="size-guide__table-caption">{{ 'size_guide.panel.men.table3_title' | t }}</caption>
      <thead class="size-guide__table-head">
      <tr>
        <th>{{ 'size_guide.panel.size' | t }}</th>
        <th>46</th>
        <th>48</th>
        <th>50</th>
        <th>52</th>
        <th>54</th>
        <th>56</th>
        <th>58</th>
      </tr>
      </thead>
      <tbody class="size-guide__table-body">
      <tr>
        <th scope="row" class="size-guide__row-head size-guide__row-head--second">{{ 'size_guide.panel.chest' | t }}</th>
        <td>89/92</td>
        <td>93/96</td>
        <td>97/100</td>
        <td>101/104</td>
        <td>105/108</td>
        <td>109/112</td>
        <td>113/116</td>
      </tr>
      </tbody>
    </table>

    <table class="size-guide__table size-guide__table--shirt" data-size-guide-table="hidden" data-size-guide-table-id="shirt_{{ id }}">
      <caption class="size-guide__table-caption">{{ 'size_guide.panel.men.table4_title' | t }}</caption>
      <thead class="size-guide__table-head">
      <tr>
        <th>{{ 'size_guide.panel.size' | t }}</th>
        <th colspan="2">S</th>
        <th colspan="2">M</th>
        <th colspan="2">L</th>
        <th colspan="2">XL</th>
      </tr>
      </thead>
      <tbody class="size-guide__table-body">
      <tr>
        <th scope="row" class="size-guide__row-head size-guide__row-head--first">{{ 'size_guide.panel.neck_size' | t }}</th>
        <td>37</td>
        <td>38</td>
        <td>39</td>
        <td>40</td>
        <td>41</td>
        <td>42</td>
        <td>43</td>
        <td>44</td>
      </tr>
      <tr>
        <th scope="row" class="size-guide__row-head size-guide__row-head--second">{{ 'size_guide.panel.chest' | t }}</th>
        <td>93/94</td>
        <td>95/96</td>
        <td>97/98</td>
        <td>99/100</td>
        <td>101/102</td>
        <td>103/104</td>
        <td>105/106</td>
        <td>107/108</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
