{%- if predictive_search.performed -%}
  {%- capture container_content -%}
    <div id="predictive-search-results">

      {%- liquid
        if predictive_search.resources.products.size > 0
          capture heading_content
            echo 'search.general.list_title' | t
            render 'el_loader'
          endcapture

          render 'el_heading', level: 3, text: heading_content, id: 'predictive-search-products', custom_classes: 'predictive-search__heading'
        endif
      -%}

      <ul id="predictive-search-results-list" class="predictive-search__results-list" role="listbox" aria-labelledby="predictive-search-products">
        {%- for product in predictive_search.resources.products -%}

          <li id="predictive-search-option-{{ forloop.index }}" class="predictive-search__list-item" role="option" data-vp-handle="{{ product.handle }}">
            <a href="{{ product.url }}" class="predictive-search__item predictive-search__item--link">

              {%- if product.featured_media != blank -%}
                <img class="predictive-search__image"
                  src="{{ product.featured_media | img_url: '260x' }}"
                  alt="{{ product.featured_media.alt }}"
                  width="130"
                  height="{{ 130 | divided_by: product.featured_media.preview_image.aspect_ratio }}"
                >
              {%- endif -%}

              <div class="predictive-search__item-content">
                <div class="predictive-search__item-heading">{{ product.title }}</div>
                {%- liquid
                  assign subtitle = product.metafields.erp.GSA_product_subtitle

                  if subtitle
                    echo '<span class="predictive-search__item-subtitle">' | append: subtitle | append: '</span>'
                  endif

                  assign min_product_price = product.price
                  if min_product_price == 0
                    for variant in product.variants
                      if variant.price > 0
                        if variant.price < min_product_price or min_product_price == 0
                          assign min_product_price = variant.price
                          break
                        endif
                      endif
                    endfor
                  endif

                  unless product_price == ''
                    render 'c_price', custom_classes: 'predictive-search__item-price vp-original-prices', price: min_product_price, product_tags: product.tags
                  endunless                -%}
              </div>
            </a>
          </li>

        {%- endfor -%}
      </ul>

      <div class="predictive-search__all">
        {%- liquid
          assign button_text = 'search.general.view_all' | t
          render 'el_button', type: 'submit', text: button_text, modifiers: 'outline,lg'
        -%}
      </div>

      <div class="predictive-search__loading-state" aria-hidden="true">
        {%- render 'el_loader' -%}
      </div>
    </div>

    <span hidden data-predictive-search-live-region-count>
      {%- liquid
        if search.results_count == 0
          echo 'templates.search.no_results' | t: terms: predictive_search.terms
        else
          echo 'templates.search.results_with_count' | t: terms: predictive_search.terms, count: predictive_search.resources.products.size
        endif
      -%}
    </span>

    {%- liquid
      capture button_content
        render 'el_icon', icon: 'close'
      endcapture

      capture button_attr
        echo 'data-close-search arila-label="'
        echo 'search.accessibility.close' | t
        echo '"'
      endcapture

      render 'el_button', text: button_content, custom_classes: 'predictive-search__close', attributes: button_attr
    -%}
  {%- endcapture -%}

  {%- render 'el_container', content: container_content, modifiers: 'xl' -%}
{%- endif -%}
