{% comment %}ly_liquid_scripts_begin{% endcomment %}{% capture ly_liquid_content %}{% comment %}ly_liquid_scripts_end{% endcomment %}<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}"{% comment %}ly_dir_replace_for_[]_begin{% endcomment %} {%- assign language_code = '_' | append: request.locale.iso_code -%}{%- if '_ar_he_fa_ur' contains language_code -%}dir="rtl" {%- endif -%}{% comment %}ly_dir_replace_end{% endcomment %}>
<head>
  <!-- Début de la mention OneTrust de consentement aux cookies du domaine : cyrillus.fr -->
<script type="text/javascript" src="https://cdn.cookielaw.org/consent/ea13f520-5b27-4377-8c8c-ae07207019e7/OtAutoBlock.js" ></script>
<script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" data-document-language="true" type="text/javascript" charset="UTF-8" data-domain-script="ea13f520-5b27-4377-8c8c-ae07207019e7" ></script>
<script type="text/javascript">
function OptanonWrapper() { }
</script>
<!-- Fin de la mention OneTrust de consentement aux cookies du domaine : cyrillus.fr -->
  <script>
    window.shopUrl = '{{ shop.url }}';
    window.clientAPI = {
      expiryDate: '{{ timestamp }}',
      apiURL: '{{ settings.app_client_api_url }}',
      customerID: '{{ customer.id }}',
      testMode: '{{ settings.app_client_api_test_mode }}',
      {% if customer %}token: "{{ shop.metafields.clientAPI.secret | append: '|' | append: customer.id | append: '|' | append: timestamp | sha256 }}"{% endif %}
    };
  </script>
  {% render 'gtm-datalayer' %}
  {%- render 'head' -%}
  {{ content_for_header }}
  <!-- globale_css_include -->
  {% include 'globale-css-include' %}
</head>

<body>
{%- if settings.redirect_under_construction_page == true -%}
  <main id="main" class="main {% if main_classes %}{{ main_classes }}{% endif %} main--under-construction">
    {% section 'under-construction' %}
  </main>
{%- else -%}
  {%- unless template contains 'under-construction' -%}
    <header class="sticky-header">
      {%- section 'announcement-bar' -%}
      {%- section 'header' -%}
    </header>
    <style>
      .sticky-header {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 999;
      }
    </style>
    {%- assign main_classes = '' -%}
    {%- if template contains 'customers/login' or template contains 'customers/register' %}
      {%- assign main_classes = 'main--account' -%}
    {%- elsif page.template_suffix == 'faq' -%}
      {%- assign main_classes = 'main--faq' -%}
    {%- endif -%}
  {%- endunless -%}
  <main id="main" class="main {% if main_classes %}{{ main_classes }}{% endif %}{% if template contains 'under-construction' %} main--under-construction{% endif %}">
    {%- liquid
      if template.name == 'index'
        section 'nav-bar'
      endif
      if page.template_suffix == 'faq'
        render 'el_heading', level: 2, text: page_title
      endif
    -%}
    {{ content_for_layout }}
  </main>
  {%- unless template contains 'under-construction' -%}
    {% unless template contains 'customers' %}
      {% if template.suffix != 'shirt-guide' and template.suffix != 'composition-guide' %}
        {%- section 'advantages' -%}
      {% endif %}
      {%- if settings.show_newsletter_modal == true -%}
        {%- section 'newsletter-modal' -%}
      {%- endif -%}
      {%- section 'newsletter' -%}
    {% endunless %}

    {%- section 'footer' -%}
    {%- render 'c_general-aria-labels' -%}
    {% unless template.name == 'cart' %}
      {% render 'c_cart-modal' %}
    {% endunless %}
    {% render 'c_modal', id: 'cart-modifier-modal', outer_close: false, content: '<div class="cart-modifier" data-cart-modifier-modal-content></div>', custom_classes: 'cart-modifier__modal' %}
  {%- endunless -%}
{%- endif -%}
<!-- langify-v2-scripts-begin -->{% comment %}ly_liquid_scripts_begin{% endcomment %}{% endcapture %}{% render 'ly-liquid-scripts', content: ly_liquid_content %}{% comment %}ly_liquid_scripts_end{% endcomment %}{% comment %}ly_core_scripts_begin{% endcomment %}{% render 'ly-core-scripts' %}{% comment %}ly_core_scripts_end{% endcomment %}{% comment %}ly_switcher_factory_begin{% endcomment %}{% render 'ly-switcher-factory' %}{% comment %}ly_switcher_factory_end{% endcomment %}<!-- langify-v2-scripts-end -->

<!-- globale_js_include -->
{% include 'globale-js-include' %}

  {% if settings.enable_socloz %}
    {% render 'app-socloz' %}
  {% endif %}

  {% render 'nosto-tagging' %}

</body>

{%- unless template contains 'under-construction' -%}
  <script>
    if ('undefined' === typeof jQuery) {
      const script = document.createElement("script");
      script.src = 'https://cdnjs.cloudflare.com/ajax/libs/jquery-compat/3.0.0-alpha1/jquery.min.js';
      document.head.appendChild(script);
    }
  </script>

  {% if settings.enable_custom_related_products_swatches %}
    <script src="{{ 'oz-app-swatches.js' | asset_url }}" defer></script>
  {% endif %}
{%- endunless -%}

</html>
