{%- capture container_content -%}
  <div class="footer__grid">
    <div class="footer__column footer__column--logo">
      {%- if section.settings.logo != blank -%}
        <div class="footer__logo">
          <img
            src="{{ section.settings.logo }}"
            alt="{{ shop.name }} logotype"
            width="66.43"
            height="82"
            class="footer__logo_img"
            >
        </div>
      {%- endif -%}
    </div>

    <div class="footer__column footer-content">
      {%- render 'el_heading', id: heading_id, level: 2, text: section.settings.content_heading, modifiers: 'xxs' custom_classes: 'footer__heading' -%}
      {{ section.settings.content_text }}
    </div>

    {%- for block in section.blocks -%}
      {%- liquid
        assign nav_id = section.id | append: '_menu_' | append: forloop.index
        assign nav_btn_id = nav_id | append: '_btn'
        assign heading_id = nav_id | append: '_heading'

        capture column
          if block.type == 'menu'
            render 'c_footer-menu', link_list: block.settings.menu, labelled_by: heading_id, attributes: 'data-collapse-content'
          endif
        endcapture
      -%}

      <div class="footer__column footer__column--nav footer__column--nav-{{ forloop.index }}">
        <div class="footer__collapse_header">
          {%- liquid
            render 'el_heading', id: heading_id, level: 2, text: block.settings.title, modifiers: 'xxs', custom_classes: 'footer__heading'
            render 'c_collapse-button', id: nav_btn_id, controls: nav_id, content: '', custom_classes: 'footer__collapse_btn'
          -%}
        </div>

        <div id="{{ nav_id }}" data-collapse-panel>
          {{ column }}
        </div>
      </div>
    {%- endfor -%}
  </div>

  {%- if section.settings.copyright != blank -%}
    <div class="footer__copyright">
      &copy; {{ section.settings.copyright }} {{ 'now' | date: "%Y" }}
    </div>
  {%- endif -%}
{%- endcapture -%}

{%- liquid
  capture content
    render 'el_container', content: container_content, modifiers: 'xxl'
  endcapture

  render 'c_section', tag: 'div', id: section.id, name: 'footer', content: content
-%}

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "id": "logo",
      "type": "url",
      "label": "Logo image URL",
      "info": "It is more priority to use the image in the SVG format. To do this, you need to upload an image to the store's file system, copy path and paste it here."
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "id": "content_heading",
      "type": "text",
      "label": "Heading"
    },
    {
      "id": "content_text",
      "type": "richtext",
      "label": "Content"
    },
    {
      "type": "header",
      "content": "Copyright"
    },
    {
      "id": "copyright",
      "type": "textarea",
      "label": "Copyright text",
      "default": "cyrillus"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "Menu heading"
        },
        {
          "id": "menu",
          "type": "link_list",
          "label": "Menu"
        }
      ]
    }
  ]
}
{% endschema %}
