{%- capture style -%}
  <style>
    #{{ section.id }} {
      text-align: {{ section.settings.alignment }};
    }

    #{{ section.id }}::before {
      padding-top: {{ section.settings.image_ratio }}%;
    }

    #{{ section.id }} .store-password__heading {
      color: {{ section.settings.heading_color }};
    }

    #{{ section.id }} .store-password__description {
      color: {{ section.settings.description_color }};
    }

    #{{ section.id }} .store-password__input {
      border-color: {{ section.settings.input_border }};
    }

    #{{ section.id }} .store-password__button {
      color:{{ section.settings.button_color }};
      background: {{ section.settings.button_background }};
      border-color: {{ section.settings.button_background }};
    }

    #{{ section.id }} .store-password__button:hover {
      color:{{ section.settings.button_color_hover }};
      background: {{ section.settings.button_background_hover }};
      border-color: {{ section.settings.button_color_hover }};
    }

    #{{ section.id }} .store-password__field {
      {% case section.settings.alignment %}
        {% when 'right' %}
          justify-content: flex-end;
        {% when 'center' %}
          justify-content: center;
      {% endcase %}
    }
  </style>
{%- endcapture -%}
{%- liquid
  assign heading_id = section.id | append: '_heading'

  capture content
    unless section.settings.heading_text == blank
      render 'el_heading', level: section.settings.heading_level, text: section.settings.heading_text, id: heading_id, custom_classes: 'banner__heading store-password__heading'
    endunless

    unless section.settings.description == blank
      echo '<div class="banner__description store-password__description">' | append: section.settings.description | append: '</div>'
    endunless

    form 'storefront_password', class: 'store-password__form'
      echo '<div class="store-password__field">'
      assign input_id = section.id | append: '_input'
      render 'el_input', id: input_id, custom_classes: 'store-password__input', type: 'password', name: 'password', attributes: 'autocomplete="current-password"', placeholder: 'Password'
      render 'el_button', type: 'submit', modifiers: 'primary', text: section.settings.button_text, custom_classes: 'banner__button store-password__button'
      echo '</div>'
    endform
  endcapture

  capture section_content
    render 'el_shopify-image', image: section.settings.image, custom_classes: 'banner__image store-password__image'
    echo '<div class="banner__content store-password__content">'
    render 'el_container', content: content, custom_classes: 'banner__container store-password__container'
    echo style
    echo '</div>'
  endcapture

  render 'c_section', id: section.id, name: 'store-password', content: section_content, heading_id: heading_id, custom_classes: 'banner'
-%}

{% schema %}
{
  "name": "Store password",
  "settings": [
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "image_ratio",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Ratio",
      "default": 54
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Alignment",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "center",
          "label": "center"
        },
        {
          "value": "right",
          "label": "right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "id": "heading_text",
      "type": "text",
      "label": "Text"
    },
    {
      "type": "select",
      "id": "heading_level",
      "label": "Level",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "1"
    },
    {
      "id": "heading_color",
      "type": "color",
      "label": "Color",
      "default": "#000000"
    },
    {
      "id": "description",
      "type": "richtext",
      "label": "Description"
    },
    {
      "id": "description_color",
      "type": "color",
      "label": "Color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Input"
    },
    {
      "id": "input_border",
      "type": "color",
      "label": "Border",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "id": "button_text",
      "type": "text",
      "label": "Label"
    },
    {
      "id": "button_background",
      "type": "color",
      "label": "Background",
      "default": "#000000"
    },
    {
      "id": "button_background_hover",
      "type": "color",
      "label": "Background (Hover)",
      "default": "#ffffff"
    },
    {
      "id": "button_color",
      "type": "color",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "id": "button_color_hover",
      "type": "color",
      "label": "Background (Hover)",
      "default": "#000000"
    }
  ]
}
{% endschema %}
